.viewMode,
.editMode {
    @apply font-sans;
    div:global(.ql-container) {
        @apply max-h-[400px] overflow-auto p-2;
    }
}

.viewMode {
    div:global(.ql-editor) {
        @apply m-0 border-0 bg-none p-0;
    }
    div:global(.ql-container) {
        @apply cursor-not-allowed rounded-lg border-0 text-base opacity-100 placeholder:italic;
    }
}

.editMode {
    div:global(.ql-toolbar) {
        @apply bg-custom-grey-01 border-custom-grey-04 rounded-t-lg border-x border-t border-b-0;
    }
    div:global(.ql-container) {
        @apply border-custom-grey-04 rounded-b-lg border-x border-b border-t-0 min-h-[100px] text-base;
    }
}

.text-label {
    @apply text-custom-grey-06 mb-2 font-sans text-xs font-semibold leading-4;
}

.error-message {
    @apply mt-8 text-xs leading-4 text-[#ff4d4f];
}
